<h1>Welcome to my Travel Site</h1>
<p>This is where I want to travel</p>

<p><%= @homeland %></p>

<ul>
  <% @countries.each do |country| %>
      <li><%= country %></li>
  <% end %>
</ul>

<% @country_images.shuffle.each do |pic| %>
  <p>
    <%= image_tag pic, alt: "pictures of peru" %>
  </p>
<% end %>

<% @country_hash.each do |k,v| %>
<p>
  <%= image_tag v, alt: k %>
</p>
<% end %>
<p>
  <%= link_to "About Us", about_path(color: "green", size: 13), class:"btn btn-info" %>
</p>
